@media only screen and (min-width: 560px) {
    nav li {width: 25%; float: left;}
    
    h2{
                
        margin: 0; 
        font-size: 1.2rem; 
        font-weight: normal;
        visibility: visible !important;

        }

    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
    
} /* end of media query */